<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Converter</title>
    <link rel="stylesheet" href="/static/app.css">
</head>
<body>
    <h1>Convert your currency</h1>
    <form action="/result" method="post">
    <label for="convertfr">Convert From</label>
    <input type="text" name="convertfr" id="convertfr">
    <br>
    <label for="convertto">Convert To</label>
    <input type="text" name="convertto" id="convertto">
    <br>
    <label for="amount">Amount</label>
    <input type="text" name="amount" id="amount">
    <br>
    <button class="button">Convert</button>
    </form>
</body>
</html>